[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
plotly = "*"
comision-revision-bolivia = {editable = true, path = "."}
openpyxl = "*"
folium = "*"
altair = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "*"
